.doc-con {
  width: 100%;
  background-color: #fff;
}
.doc-text {
  max-width: 1050px;
  margin: 0 auto;
  padding: 10px;
}
.topBanner {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  margin-bottom: 0;
  border-bottom: 1px solid #e8e8e8;
}
.banner-con {
  max-width: 1050px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}